<% if !user_signed_in? %>
  <%= render 'shared/homepage' %>
<% else %>

<div class="container" style="padding-bottom: 100px;
    padding-top: 50px;">
  <table class="striped">
    <thead>
        <th>Name</th>
        <th></th>
        <th></th>
        <th>Actions</th>
        <th></th>
        <th></th>
    </thead>

    <tbody >
      <% @chatrooms.each do |chatroom| %>
        <tr>
          <td ><%= chatroom.name%></td>
          <td><%= link_to 'Show', chatroom%></td>
          <td><%= link_to 'Edit', edit_chatroom_path(chatroom) %></td>
          <td><%= link_to 'Destroy', chatroom, method: :delete, data: { confirm: 'Are you sure?' }%></td>
          <td><%= link_to 'Join', chatroom_chatroom_users_path(chatroom), method: :post%></td>
          <td><%= link_to 'Leave', chatroom_chatroom_users_path(chatroom), method: :delete%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<hr><br>
  <%= link_to 'New Chatroom', new_chatroom_path, class: "waves-effect waves-light btn-large"   %>
  <% end %>
</div>


