<p id="notice"><%= notice %></p>

<p>
  <strong>Room Name:</strong>
  <%= @chatroom.name %>
</p>

<div data-behaviour='messages' data-chatroom-id='<%= @chatroom.id %>'>
<!-- 	we grab the last 100 messages by desc function, then reverse this array so that we see the last sent message among these 100 at bottom -->
	<% @chatroom.messages.order(created_at: :desc).limit(100).reverse.each do |message| %>
		<%= render message %>
	<% end %>
</div>

<!-- new message is created for a chatroom -->
<%= form_for [@chatroom, Message.new] do |f| %>
	<%= f.text_area :body, rows: 1, class: "form-control", autofocus: true %>
<% end %>

